<template name="sign_in">
	<!--This is sign_in.
	<a href ="/"> back Home</a> -->
	<div class="valign-wrapper lime" style="margin:0px; min-width:100%; min-height:100%;position: absolute; top: 0; left: 0;">
		<div class="container" >

			<div class="row " >
				<div class="col s10 m8 l6 offset-s1 offset-m2 offset-l3" >
					<div class="card">
					    <div class="card-tabs " >
					      <ul class="tabs tabs-fixed-width cyan" style="padding-left:0px">
					        <li class="tab"><a href="/login" class="n-active-login">{{_ "login"}}</a></li>
					        <li class="tab" style="margin-right:20px"><a href="#"  class="active-login">{{_ "sign_in"}}</a></li>
					      </ul>
					    </div>
					    <div class="card-content white" 
	    style="padding-bottom: 0px;">
						  <div class="row ">
						    <form class="col s12">
						    <div class="row">
						        <div class="input-field col s12 i18n-select">
						         {{> i18n_dropdown_}}  
						         <label class="i18n-select">{{_ "select_your_language"}}</label>
						        </div>
						   	 </div>
						      <div class="row ">
						        <div class="input-field col s12">
						          <input id="user_name" type="text" class="validate">
						          <label for="user_name">{{_ "username"}}</label>
						        </div>
						      </div>
						      <div class="row">
						        <div class="input-field col s12">
						          <input id="email" type="text" class="validate">
						          <label for="email">{{_ "email"}}</label>
						        </div>
						      </div>
						      <div class="row">
						        <div class="input-field col s12">
						          <input id="password" type="password" class="validate">
						          <label for="password">{{_"password"}}</label>
						        </div>
						      </div>
						      <div class="row">
								    <div class="input-field col s12" >
										<input type="date" class="datepicker">
										<label for="date">{{_ "date_of_birth"}}</label>
								  	</div>
								</div>
								<div class="container right">
									<div class="row right">
										<div class="col s6 m2 l2">
											<a class="waves-effect waves-light btn cyan">{{_ "submit"}}</a>
										</div>
									</div>
								</div>
						    </form>
						  </div>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>