/* CSS declarations go here */

/* Use transparent black color for text - start */
.text-primary {
	color:rgba(0,0,0,0.87);
}

.text-secondary {
	color:rgba(0,0,0,0.54);
}

.text-hint {
	color:rgba(0,0,0,0.38);
}

/* Use transparent black color for text - start */


/* User icons - start */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v21/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

 /* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

@media only screen and (min-width: 601px){
  .material-icons.md-18 {
      height: 64px;
      line-height: 64px;
  }
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.pad-15 { 
	padding-left: 15px;
	padding-right: 15px;
}
/* User icons - end */

/******START: side nav and top app bar issues fixes ******/

.side-nav .userView {
    position: relative;
    padding: 16px 16px 0;
    margin-bottom: 8px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

ul:not(.browser-default) li {
    list-style-type: none;
}

.side-nav li {
    float: none;
    line-height: 48px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.side-nav .userView .background {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.side-nav .userView .circle {
    height: 64px;
    width: 64px;
    display: block;
}

.side-nav {
  width:300px;
}

img.circle {
    line-height: 48px;
  }

a.pad-0 {
  padding: 0px;
  height: auto;
  line-height: 40px;
}

.side-nav .userView .name, .side-nav .userView .email {
    font-size: 14px;
    line-height: 24px;
}

ul.collapsible.collapsible-accordion {
    -webkit-padding-start: 0px;
}

a.collapsible-header>i{
  float: right;
}


/******END: side nav and top app bar issues fixes ******/


.tabs {
  margin:0px !important;
  width: 100% !important;
}