/* CSS declarations go here */

/* Use transparent black color for text - start */
.text-primary {
	color:rgba(0,0,0,0.87);
}

.text-secondary {
	color:rgba(0,0,0,0.54);
}

.text-hint {
	color:rgba(0,0,0,0.38);
}

/* Use transparent black color for text - start */


/* User icons - start */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v21/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 48px !important;
  height: 48px !important;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

 /* Rules for sizing the icon. */
.material-icons.md-12 { 
  font-size: 12px;
  line-height:12px !important;
  height: 15px !important;
  vertical-align: middle;
 }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

@media only screen and (min-width: 601px){
  .material-icons.md-18 {
      height: 64px;
      line-height: 64px;
  }
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.pad-15 { 
	padding-left: 15px;
	padding-right: 15px;
}
/* User icons - end */

/******START: side nav and top app bar issues fixes ******/

.side-nav .userView {
    position: relative;
    padding: 16px 16px 0;
    margin-bottom: 8px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

ul:not(.browser-default) li {
    list-style-type: none;
}

.side-nav li {
    float: none;
    line-height: 48px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.side-nav .userView .background {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.side-nav .userView .circle {
    height: 64px;
    width: 64px;
    display: block;
}

.side-nav {
  width:300px;
}

img.circle {
    line-height: 48px;
  }

a.pad-0 {
  padding: 0px;
  height: auto;
  line-height: 40px;
}

.side-nav .userView .name, .side-nav .userView .email {
    font-size: 14px;
    line-height: 24px;
}

ul.collapsible.collapsible-accordion {
    -webkit-padding-start: 0px;
}

a.collapsible-header>i{
  float: right;
}


/******END: side nav and top app bar issues fixes ******/
.no-shadow {
  box-shadow: none;
}

/****** START : TABS *******/

.tabs {
  margin:0px !important;
  width: 100% !important;
}

a.light {
  color: rgba(255,255,255,0.7) !important;
}

a.light.active{
  color:#ffffff !important;
  background-color: rgba(0, 0, 0, 0)
}

a.light.active:active{
  background-color:none !important;
}

a.light:hover{
  color:rgba(255,255,255,1) !important;
  background-color: rgba(0, 0, 0, 0)
}

div.indicator {
  color: #ffffff !important;
  background-color: #ffffff !important;
}

/****** END :  TABS *******/


/***START: Floating button fixes****/
.wpad-0 {
      -webkit-padding-start: 0px !important;
}

@media only screen and (min-width: 601px){
  .fab .material-icons.md-18 {
      height: 40px;
      line-height: 40px;
  }
}
/***END: Floating button fixes****/

/***** START: login /sign up fixes *****/
a.active-login{
  border-bottom: solid 3px #84ffff !important;
  color: #ffffff !important;
  background-color: none !important;
}

a.n-active-login{
  color:rgba(132, 255, 255, 0.5) !important;
  background-color: none !important;
}

  /* label color */
   .input-field label {
     color:rgba(0,0,0, 0.3);
   }
   /* label focus color */
   .input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label {
     color:rgba(0,0,0, 0.5);
   }
   /* label underline focus color */
   .input-field input[type=text]:focus,  .input-field input[type=password]:focus {
     border-bottom: 1px solid rgba(0,0,0, 0.3) !important;
     box-shadow: 0 1px 0 0 rgba(0,0,0, 0.5);
   }
    /* label underline validate color */
   .input-field input[type=text].validate, .input-field input[type=password].validate  {
     border-bottom: 1px solid rgba(0,0,0, 0.3);
     
   }
   /* valid color */
   .input-field input[type=text].valid, .input-field input[type=password].valid{
     border-bottom: 1px solid rgba(0,0,0, 0.3) !important;
     box-shadow: 0 1px 0 0 rgba(0,0,0, 0.5);
   }
   /* invalid color */
   .input-field input[type=text].invalid, .input-field input[type=password].invalid  {
     border-bottom: 1px solid rgba(255, 0, 0, 0.5) !important;
     box-shadow: 0 1px 0 0 rgba(255, 0, 0, 0.5);
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }
.picker__date-display, .picker__weekday-display{
    background-color: #00bcd4;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected{
  background-color: #00bcd4 !important;
}

.picker__day.picker__day--today {
    color: #00bcd4 !important;
}

.picker__day.picker__day--today.picker__day--selected {
    color: #ffffff !important;
}

.picker__close, .picker__today {
    color: #00bcd4 !important;
}

.checkbox-cyan[type="checkbox"] + label:before{
  border: 2px solid rgba(0,0,0, 0.3);
  background: transparent;
}
.checkbox-cyan[type="checkbox"]:checked + label:before{
  border: 2px solid transparent;
  border-bottom: 2px solid #00bcd4;
  border-right: 2px solid #00bcd4;
  background: transparent;
}

/***** END: login /sign up fixes *****/

/********* START:  i18n GUI   ***********************/

/*********   i18n GUI   ***********************/
ul.dropdown-content.select-dropdown{
  padding-left: 0px !important;
}
/********* END:  i18n GUI   ***********************/

/****** START: fix for search box in top nav *******/
i.search-active{
  color: blue !important;
}
/****** END: fix for search box in top nav *******/

/****** START: more_nav fixes ******/
.dropdown-content.active {
  width: 200px !important;
  right:0px !important;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: #444;
}

.dropdown-content a:hover {
  background-color: rgba(0, 0, 0, 0.06) !important;
  width: 200px !important;
}

/****** END: more_nav fixes ******/

/*** START: fixes for timeline newlent card ***/
.card-reveal {
  height: 90% !important;
}

.user-icon-timeline {
    height: 64px;
    width: 64px;
    display: block;
}

h1.timeline {
   text-align: justify;
   font-size: 14px;
   line-height: 18px;
   margin: 0px !important;
   padding: 0px !important;  
   display: inline-block;
   vertical-align: bottom;
   font-weight: 300;
}

h2.timeline {
   text-align: left;
   line-height: 24px;
   font-size: 12px;
   color: rgba(51, 51, 51, 0.55);
   margin: 0px !important;
   padding: 0px !important;
}

span.bold {
  font-weight: bold;
}

#post-meta {
  margin:0px !important; 
  padding:0px !important;
}

#post-avatar {
  padding-left:0px !important; 
  padding-right:0px !important; 
  height:64px !important;
}

#right-to-avatar {
  padding-top:5px !important; 
  height:64px !important;
  padding-left: 5px !important;
  padding-right: 5px;
}

#post-avatar-img {
  margin:auto !important;
}

div#post-meta-wrap{
  margin:0px !important; 
  padding:10px 10px 10px 0px !important;
}

@media screen and (min-width: 980px) {
  #right-to-avatar{
    padding-left: 0px !important;
  }
}


@media screen and (max-width: 979px) {
  #right-to-avatar{
    padding-left: 0px !important;
  }
}


@media screen and (max-width: 500px) {
  #right-to-avatar{
      padding-left: 5px !important;
  }
}

/*
@media screen and (min-width: 993px){
  i.words{
    left: 40px !important;
  }
}
*/

div#title-wrap {
  line-height: 14px !important;
  padding: 0px !important;
  font-size: 14px !important;
  color:rgba(51, 51, 51, 0.55);
}

i.level{
  padding: 0px !important;
  margin: 0px !important;
  height: 14px !important;
  line-height: 14px !important;
  width: 10px !important;
}

span.level {
    margin-left: 15px!important;
    position: relative;
    vertical-align: top !important;
}

span.words {
    line-height: 14px !important;
    vertical-align: top;
    font-size: 14px;
    padding: 0px !important;
    margin: 0px !important;
}

i.words {
    height: 14px !important;
    line-height: 14px !important;
    position: relative;
    left: calc(100% - 90px);
    
}

div#title {
  margin-top: 10px;
}

.card-title {
  font-size: 20px !important;
  line-height: 30px !important;
}

#title-footer {
    padding: 0px !important;
    margin: 0px !important;
    margin-top: 20px !important;
}

.chip{
  margin-bottom: 3px !important;
  background-color: rgba(0,0,0,0.1);
  font-weight: 300 !important;
  height: 28px !important;
  font-size: 12px;
  line-height: 28px !important;
  border-radius: 14px;

}
/*** END: fixes for timeline newlent card ***/

/*** START: social stats and buttons fixes **/

.social-stats {
  font-size: 80%;
  padding: 0px !important;
  margin: 0px !important;
  /*
  vertical-align: sub;
  position: relative;
  top: 5px;
  line-height: 20px !important; */
}


.emoji-display {
  margin-left: -5px !important;
}

.emojione {
  padding: 0px !important;
  margin: 0px !important;
}

a.item-action:hover {
  color: rgba(0,0,0,0.2) !important;
}

a.item-action {
  color: rgba(0,0,0,0.4) !important;
  margin: 0px !important;
  width: 18% !important;
  display: inline-block;
}
/*** END: social stats and buttons fixes **/