<template name="fab">
	<div class="fixed-action-btn click-to-toggle">
    <a class="btn-floating btn-large cyan">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul class="wpad-0 fab">
      <li><a class="btn-floating  cyan"><i class="material-icons md-18">insert_chart</i></a></li>
      <li><a class="btn-floating cyan"><i class="material-icons md-18">format_quote</i></a></li>
      <li><a class="btn-floating cyan"><i class="material-icons md-18">publish</i></a></li>
      <li><a class="btn-floating cyan"><i class="material-icons md-18">attach_file</i></a></li>
    </ul>
  </div>
</template>