<template name="timeline_tabs">
      <ul id="tabs-swipe-demo" class="tabs tabs-fixed-width  pink darken-1 timeline-tab-nav" style="padding-left:0px !important">
        <li class="tab col s3" data="watshot"><a href="#test-swipe-1" class="light"><i class="material-icons md-24 ">whatshot</i></a></li>
        <li class="tab col s3"><a href="#test-swipe-2" class="light"><i class="material-icons md-24 ">notifications_active</i></a></li>
        <li class="tab col s3"><a href="#test-swipe-3" class="light"><i class="material-icons md-24 ">insert_chart</i></a></li>
        <li class="tab col s3"><a href="#test-swipe-4" class="light"><i class="material-icons md-24 ">favorite</i></a></li>
    </ul>
</template>