<template name = "timeline_content"> 

  <div class="col s12 m6 l4">

    <div class="card sticky-action" style="overflow: visible;">
   
       
        <div class="card-action " id="post-meta-wrap">
            <div class="row flow-text" id="post-meta">
                <div class="col s3" id = "post-avatar">
                    <img class="circle user-icon-timeline" id= "post-avatar-img" src="images/profile.jpg">
                </div>
                <div class="col s9" id = "right-to-avatar">
                    <div style="margin:auto !important">
                    <h1 class="timeline">Viki T.T. added a goal with a very long tail name </h1>
                    <h2 class="timeline">3 hrs ago - Sweden, Stockholm - <i class="material-icons md-12">group</i></h2><!--"group" or "public" -->
                    </div>

                </div>
            </div>

        </div>

        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/woods.jpg">
        </div>
        
        <div class="card-content">
            <div class="row flow-text" id = "title-wrap" style="margin-bottom: 0px !important;">
                <div class="col s7">
                    <i class="material-icons  md-18 level">turned_in</i>
                    <i class="material-icons  md-18 level">turned_in</i>
                    <i class="material-icons  md-18 level">turned_in_not</i>
                    <span class = "level">  Intermidiate </span>
                </div>

                <div class="col s5" style = "padding:0px !important">
                    <span class = "words"> 124 words </span>
                    <i class="material-icons  activator words">more_vert</i>
                </div>
                   
                <div class="col s12" id = "title">  
                    <span class="card-title activator grey-text text-darken-4">Card Title a ver very long one with loads of words. And even more words here.</span>    
                </div>
                <div class="col s12" id = "title-footer">
                    <div class="col s4">
                        <span>tags</span>
                        <i class="material-icons  md-18 level" style="vertical-align: top;">label</i>
                    </div>
                    <div class="col s4">EN - FR</div>
                    <div class="col s4">
                        <i class="material-icons  md-18 level" style="vertical-align: top;margin-right: 10px !important;">child_care</i>
                        <span>7+</span>
                    </div>
                </div>
                <!-- TAGS -->
                <div class="col s12" style="margin-top:10px !important; padding:0px !important;">    
                    {{#each tags}}
                        <div class="chip">
                            {{this}}
                        </div>
                    {{/each}}
                </div>
                <!-- TAGS END -->

                <!-- SOCIAL STATS START -->
                <div class="col s12 " id = "title-footer" style="margin-bottom: -10px !important;">
                    <div class="col s5" style = "padding:0px !important">
                   
                       <span class = "social-stats"> {{> emojione ':cry:'}}</span>
                       <span class = "social-stats"> {{> emojione ':heart:'}}</span>
                       <span class = "social-stats"> {{> emojione ':thumbsup:'}}</span>
                     
                    <span class = "social-stats" style = "vertical-align: -2px;">  789</span>
                    </div>
                    <div class="col s3 right-align "  style = "padding:0px !important; line-height:20px;">
                       <span class = "social-stats"> 123 Shares </span>
                    </div>
                    <div class="col s4 right-align"  style = "padding:0px !important; line-height:20px;">
                       <span class = "social-stats">  456 Comments </span>
                    </div>
                </div>
                <!-- SOCIAL STATS END -->
            </div>
            
        </div>
        
        <div class="card-action" style = "padding: 5px 0px !important">
               <a href="#" class="item-action center-align"><i class="material-icons">flag</i></a>
                <a href="#" class="item-action right-align"><i class="material-icons">tag_faces</i></a>
                <a href="#" class="item-action right-align"><i class="material-icons">share</i></a>
                <a href="#" class="item-action right-align"><i class="material-icons">chat_bubble_outline</i></a>
                <a href="#" class="item-action right-align"><i class="material-icons">inbox</i></a>
           
        </div>
        
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>

    
    </div>
  </div>

</template>