<template name="main">
	This is home / timeline
	<ul>
		<li><a href="/">Home/Timeline</a></li>
		<li><a href="/profile">Profile</a></li>
		<li><a href="/achievements">Achievements</a></li>
		<li><a href="/library">Library</a></li>
		<li><a href="/practice">Practice</a></li>
		<li><a href="/review">Review</a></li>
		<li><a href="/story_mode">Story mode</a></li>
		<li><a href="/assets">Assets</a></li>
		<li><a href="/in_progress">In progress</a></li>
		<li><a href="/bids">Bids</a></li>
		<li><a href="/search">Search</a></li>
		<li><a href="/login">Login</a></li>
		<li><a href="/sign_in">Sign In</a></li>
	</ul>
</template>