<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<template name="app_bar">
		<nav class="lime darken-2">
		   
		    <a href="#" data-activates="slide-out" class="s button-collapse show-on-large"><i class="material-icons md-18 valign pad-15">menu</i></a>

		      <span class="flow-text">Page title</span>
		      <ul class="right">
		        <li><a href="#"><i class="material-icons md-18">search</i></a></li>
		        <li><a href="#"><i class="material-icons md-18 ">more_vert</i></a></li>
		      </ul>

		 

		
 <ul id="slide-out" class="side-nav" style="transform: translateX(-100%); margin-left: -40px;">
    <li>
    	<div class="userView">
	      	<div class="background">
	        	<img src="images/side_nav_background.jpg" style="max-width: 100%;max-height: 100%; ">
	     	 </div>
      		<a href="#!user">
      			<img class="circle" src="images/profile.jpg">
      		</a>
      		<a href="#!name"><span class="white-text name">John Doe</span></a>
      		<a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
   		 </div>
   	</li>

    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
	
	</nav>	
		  
		
</template>