<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<template name="app_bar">
<nav class=" nav-extended" style="
    height: 96px !important;
    background-color: rgba(255,225,233,0);
    line-height: 48px;">

<div class="row pink darken-1 ">
  <div class="col s2" style="height:48px !important;padding-left:0px !important;">
	  <a href="#" data-activates="slide-out" class="light button-collapse show-on-large" style="height: 48px !important;margin-left: 5px;"><i class="material-icons md-24 valign pad-15">menu</i></a>
  </div>

  <div class="col s10" style="height:48px !important;padding-left:0px !important;padding-right: 0px;">
    {{>navbar_search}}
   </div>


		     {{>Template.dynamic template=nav_tabs}}

		
	 <ul id="slide-out" class="side-nav" style="transform: translateX(-100%); margin-left: -40px;">
	    <li>
	    	<div class="userView">
		      	<div class="background">
		        	<img src="images/side_nav_background.jpg" style="max-height: 100%; ">
		     	 </div>
	      		<a class="pad-0" href="#!user">
	      			<img class="circle" src="images/profile.jpg">
	      		</a>
	      		<a class="pad-0" href="#!name" style="margin-top: 10px;"><span class="white-text name" >Victoria Tischenko Tecza</span></a>
	      		<a class="pad-0" href="#!email" style="margin-top:-15px; padding-bottom:10px"><span class="white-text email">vikitt@gmail.com</span></a>
	   		 </div>
	   	</li>


     <li class="bold"><a href="#!" class="waves-effect">Home</a></li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header waves-effect">Your wall of glory<i class="material-icons md-24">arrow_drop_down</i></a>

            <div class="collapsible-body">
              <ul style="padding-left:0px !important">
                <li><a href="#!">Profile</a></li>
                <li><a href="#!">Achievements</a></li>
                <li><a href="#!">Library</a></li>
              </ul>
            </div>
          </li>

          <li>
            <a class="collapsible-header waves-effect">Learn and play<i class="material-icons md-24">arrow_drop_down</i></a>

            <div class="collapsible-body">
              <ul style = "padding-left:0px !important">
                <li><a href="#!">Practice</a></li>
                <li><a href="#!">Review</a></li>
                <li><a href="#!">Story Mode</a></li>
              </ul>
            </div>
          </li>

          <li>
            <a class="collapsible-header waves-effect">Create stuff in your lab<i class="material-icons md-24">arrow_drop_down</i></a>

            <div class="collapsible-body">
              <ul style = "padding-left:0px !important">
                <li><a href="#!">Assets</a></li>
                <li><a href="#!">In Progress</a></li>
                <li><a href="#!">Bids</a></li>
              </ul>
            </div>
          </li>

        </ul>
      </li>
      
      <li><div class="divider"></div></li>
      <li class="bold"><a href="#!" class="waves-effect">Search</a></li>
	  </ul>
{{>Template.dynamic template=tabs}}
	</div>
</nav>		  

</template>